#aboutUs {
    background-color: #955e99; //try
    padding-top: 5%;
    min-height: 100vh;
    position: relative;
}


#aboutUs img {
    background-size: 150% 150%;
    margin-right: -50% !important;
}

#aboutUs h1 {
    color: white;
    font-size: 60px;
}

#aboutUs h6 {
    color: white;
}

#aboutUs p {
    color: white;
    font-size: 16px;
}

#aboutUs span {
    color: #e87a42;

}
