footer {
    background-color: #2a2a2a;
    min-height: 40vh;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 30px;
}

footer img {
    width: 15%;
}

footer h4 {
    font-weight: regular!important;
    font-family: 'Montserrat', sans-serif;
    
}

.sec-footer {
    background-color: #d80000;
    color: white;
    padding-top: 10px;
}