@media (min-width: 375px) {
    .navbar {
        background-color: none !important;
    }
    .navbar {
        text-align: center;
    }
    i {
        margin-top: 45%;
    }
    #splash {
        text-align: center;
    }
    #splash h1 {
        font-size: 50px;
    }
    .splash-txt span{
        font-size: 35px;
    }
    #section2 {
        height: 100vh;
    }
    #section2 h1 {
        font-size: 30px;
        margin-top: 20%;
    }
    #section2 p {
        font-size: 20px;
    }
    #section3 h1 {
        font-size: 30px;
        margin-top: 20%;
    }
    #section3 p {
        font-size: 20px;
    }
    #section3 span {
        font-size: 20px;
    }
    #section3 button {
        margin-bottom: 20px;
    }
    #section4 h1 {
        font-size: 30px;
    }
    #section4 h4 {
        font-size: 20px;

    }
    #section4 p {
        font-size: 16px;
    }
    #aboutUs h1{
        font-size: 50px;
        margin-top: 5%;
        margin-bottom: 0%;

    }
    form {
        border: thick;
        border-radius: 20px;
        /* padding: 20px; */
        background-color: white;
        margin-top: 50%;
    }
    .form img {
        margin-top: -80%;
        width: 20%;
    }
    .login-title {
        margin-top: -30%;

    }
    .cred {
        margin-top: 20%;
    }
    
}



@media (max-width: 768px) {
    
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
    
  }




@media (min-width: 992px) { 
    .navbar {
        background-color: transparent !important;
    }
    i {
        margin-top: 50%;
    }
    #splash img {
        transform: scale(120%);
    }

    #splash {
        background-position: right 35% bottom 45%;
    }

    #splash-bg {
        margin-left: 10%;
    }

    #section2 {
        height: 100vh;
    }
    #section2 img {
        margin-top: -5%;
        height: 120%;
        margin-left: -5% !important;
}
    #section2 h1 {
        font-size: 60px;
        margin-top: 5%;
    }
    #section2 p {
        color: #2a2a2a;
        font-family: 'Open Sans', sans-serif;
        font-size: 32px;
    }
    #section3 h1 {
        font-size: 60px;
        margin-top: 5%;
    }
    #section3 p {
        font-size: 32px;

    }
    #section3 span {
        font-size: 32px;

    }
    #section4 h1 {
        margin-top: 0%;
        font-size: 60px;
    }
    
    #section4 h4 {
        font-size: 32px;

    }
    #aboutUs h1{
        font-size: 60px;
        margin-top: 0%;
        margin-bottom: 0%;

    }
    #aboutUs h6 {
        font-size: 20px;
    }
    footer img {
        width: 5%;
    }
    html {
        background-color: #2a2a2a ;
    
    }
    .nav-back i {
        border: solid white;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 5px;
        margin-top: 5px;
    
      }
      
      .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    
    .nav-back {
        background-color: #2a2a2a;
    }
    
    .nav-back span {
        color: white;
    }
    
    .form-bg {
        background-color: #2a2a2a;
        
    }
    
    form {
        border: thick;
        border-radius: 20px;
        /* padding: 20px; */
        background-color: white;
        margin-top: 70%;
    }
    
    form h6 {
        color: #2a2a2a;
    }
    
    .form img {
        margin-top: -90%;
        width: 30%;
    }
    
    .login-title {
        margin-top: -30%;
        color: white;
    }
    
    .cred {
        margin-top: 40px;
    }
    
    #username {
        border-radius: 10px;
        border: none;
        background-color: #EDEDED !important;
        background: url('/FIP-2020/images/user.png') no-repeat 10px 10px;
        padding-left: 35px;
    }
    
    #password {
        border-radius: 10px;
        border: none;
        background-color: #EDEDED !important;
        background: url('/FIP-2020/images/lock.png') no-repeat 10px 10px;
        padding-left: 35px;
    }
    
    .form button {
        text-align: center;
        background-color: #2a2a2a !important;
        width: 50%;
    
    }
    
    .form button {
        color: white;
    }
    
    .form button:hover {
        color: #d80000;
    
    }
    
    .form a {
        color: #1F86D0 !important;
        font-size: 12px;
        cursor: pointer;
    }
    
    .nav-back a {
        cursor: pointer;
    }
}