#section4 {
    background-color: #4bc9f5; //try
    min-height: 100vh;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}

.sec4-svg {
    margin-top: -5%;
        height: 120%;
        margin-left: -5% !important;
}

#section4 h1 {
    color: white;
    font-size: 60px;
}

#section4 h4 {
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;

}

#section4 p {
    color: #2a2a2a;
    font-size: 16px;
}

#section4 span {
    color: #D80000;

}
