#section3 {
    padding-top: 5%;
    background-color: #cd202e;
    min-height: 100vh;
    height: 100vh;
    padding-bottom: 5%;
    position: relative;
}

#section3 img {
    height: 120%;
    margin-right: -10% !important;
}

#section3 h1 {
    font-size: 60px;
    color: white;
}

#section3 p, h6 {
    font-size: 32px;
    color: white;
    font-family: 'Open Sans', sans-serif;

}

#section3 span {
   color: white; 
   font-size: 40px;
}
.btn-sec3 {
    background-color: #e87a42 !important;
}