#splash {
    height: 100vh;
    background-image: url('/2020_fip/images/talk.jpg');
    min-height: 100vh;
    background-size: cover;
    backdrop-filter: blur(6px);
    background-position: center;

}

